'atom-workspace':
  'ctrl-x (': 'unset!'
  'ctrl-x )': 'unset!'
  'ctrl-x b': 'unset!'
  'ctrl-x ctrl-b': 'unset!'
  'ctrl-x ctrl-e': 'unset!'
  'ctrl-x e': 'unset!'
  'ctrl-q': 'unset!'
  'ctrl-q ctrl-(': 'atom-keyboard-macros:start_kbd_macro'
  'ctrl-q ctrl-)': 'atom-keyboard-macros:end_kbd_macro'
  'ctrl-q b': 'atom-keyboard-macros:execute_macro_to_bottom'
  'ctrl-q ctrl-b': 'atom-keyboard-macros:execute_macro_from_top_to_bottom'
  'ctrl-q ctrl-e': 'atom-keyboard-macros:repeat_last_kbd_macro'
  'ctrl-q e': 'atom-keyboard-macros:call_last_kbd_macro'
